@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #312F2F;
  color: white;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-size: 1.5rem;
  color: white;
}

.cap{
  height: 200px;
  width: 200px;
}

.social{
  height:50px;
  width:50px;
  color: white;
  margin-right: 10px;
}

.card{
  min-height: 100%;
  color: black;
}

section{
  margin-bottom:5%;
}
